asttokens==3.0.0
attrs==25.4.0
certifi==2025.11.12
cfgv==3.4.0
charset-normalizer==3.4.4
decorator==5.2.1
distlib==0.4.0
executing==2.2.1
filelock==3.20.0
fsspec==2025.10.0
hf-xet==1.2.0
huggingface-hub==0.36.0
hyperpyyaml==1.2.2
identify==2.6.15
idna==3.11
ipython==9.7.0
ipython-pygments-lexers==1.1.1
jedi==0.19.2
jinja2==3.1.6
joblib==1.5.2
jsonlines==4.0.0
markupsafe==3.0.3
matplotlib-inline==0.2.1
mpmath==1.3.0
networkx==3.5
nodeenv==1.9.1
numpy==2.3.4
packaging==25.0
pandas==2.3.3
parso==0.8.5
pexpect==4.9.0
platformdirs==4.5.0
pre-commit==4.4.0
prompt-toolkit==3.0.52
ptyprocess==0.7.0
pure-eval==0.2.3
pygments==2.19.2
python-dateutil==2.9.0.post0
pytz==2025.2
pyyaml==6.0.3
regex==2025.11.3
requests==2.32.5
ruamel-yaml==0.18.16
ruamel-yaml-clib==0.2.14
safetensors==0.6.2
scipy==1.16.3
sentencepiece==0.2.1
setuptools==80.9.0
six==1.17.0
speechbrain @ git+https://github.com/speechbrain/speechbrain.git@b7afd0350a9f6acaf8aa6dcd7dcffec25fa82e30
stack-data==0.6.3
sympy==1.14.0
tokenizers==0.22.1
torch==2.8.0
torchaudio==2.8.0
tqdm==4.67.1
traitlets==5.14.3
transformers==4.57.1
typing-extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
virtualenv==20.35.4
wcwidth==0.2.14
